* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    background-color: #e0e0d1;
    font-family: 'Raleway', sans-serif;
}

div.container {
    background-color: #ff4000;
    text-align: center;
    margin: 100px;
    padding: 200px 0 200px 0;
    border: 2px solid white;
    color: #e0e0d1;
    color: black;
}

div.video {
    float: left;
    margin-top: -80px;
    margin-left: 140px;
}

div.audio {
    position: relative;
}

div > button {
    background-color: #e0e0d1;
    border: 1px solid aliceblue;
    padding: 3px;
    font-size: 10pt;
    margin: 1px;
    font-family: sans-serif;
    border-radius: 2px;
}
